<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fountain Finder</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script>
    var iconUrl = "{{ url_for('static', filename='images/fountain.png') }}";
    </script>

    <h1>Fountain Finder</h1>
    <div id="map"></div>
    <div class ="sidebar">
        <h1 class = sidebarelement>Title i  guess
            <button id="closeSidebar">&times;</button>
        </h1>
        <div class = "sidebarelement sidebartext">
            Body woo
        </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>